*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: grid;
  min-height: 100vh;
  background-color: whitesmoke;
}

label {
  display: block;
  margin-bottom: .5rem;
}

/* Global Syling */
input {
  display: block;
  width: 100%;
  padding: .75rem;
  border: 1px solid #ccc;
  border-radius: .25rem;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

/* progress bar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progressbar::before, .progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: 0;
}

.progress {
  background-color: rgb(17, 88, 168);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step-active {
  background-color: rgb(17, 88, 168);
  color: whitesmoke;
}

/* form */
.form {
  max-width: 475px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  border-radius: .35rem;
  padding: 1.5rem;
  background-color: white;
}

.form-step {
  display: none;
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
}

/* button */
.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.btn {
  padding: .75rem;
  margin-top: .5rem;
  display: block;
  text-decoration: none;
  background-color: rgb(17, 88, 168);
  color: whitesmoke;
  text-align: center;
  border-radius: .25rem;
  cursor: pointer;
  transition: .2s;
}

.btn:hover {
  box-shadow: 0 0 0 2px whitesmoke, 0 0 0 3px rgb(17, 88, 168);
}

.plus {
  display: flex;
  justify-content: space-between;
}

.plus-items {
  width: 100%;
}

.plus-items input {
  margin-bottom: 0.5rem;
}

.plus-btns-group {
  display: flex;
}

.btn-add,
.btn-remove {
  width: 1rem;
  height: 1rem;
  background-color: rgb(17, 88, 168);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}